<div class="catalog">
    <label>Platforme: </label><select class="platforms" [(ngModel)]="currentPlatform">
        <option 
        *ngFor="let platform of getPlatforms()"
        value={{platform}}>{{platform}}</option>
    </select>
    <br/>
    <label>Prix min: </label><input type="number" [(ngModel)]="priceMin" /> <br/>
    <label>Prix max: </label><input type="number" [(ngModel)]="priceMax" /> <br/>
    <label>Nom: </label><input type="string" [(ngModel)]="nameFilter" /> <br/>

    <div class="product" 
    *ngFor="let currentProduct of products | catalog : getFilters()"
    [routerLink]="['/product', currentProduct.id]">
        <h2>{{ currentProduct.name }}</h2>
        <img src={{currentProduct.img}}/>
        <p>Prix: {{currentProduct.price}}</p>
        <p>Plateforme: {{currentProduct.platform}}</p>
    </div>
</div>
