<div class="catalog">
    <label>Platforme: </label><select class="platforms" [(ngModel)]="currentPlatform">
        <option 
        *ngFor="let platform of getPlatforms()"
        value={{platform}}>{{platform}}</option>
    </select>
    <br/>
    <label>Prix min: </label><input type="number" [(ngModel)]="priceMin" /> <br/>
    <label>Prix max: </label><input type="number" [(ngModel)]="priceMax" /> <br/>
    <label>Nom: </label><input type="string" [(ngModel)]="nameFilter" /> <br/>

    <app-product 
        [currentProduct]="myProduct" 
        [detailed]="false"
        [routerLink]="['/product', myProduct.id]"
        *ngFor="let myProduct of products | catalog : getFilters()"
    ></app-product>
</div>
