<div class="catalog">
    <label i18n >Platforme: </label><select class="platforms" [(ngModel)]="currentPlatform">
        <option 
        *ngFor="let platform of getPlatforms()"
        value={{platform}}>{{platform}}</option>
    </select>
    <br/>
    <label>Prix min: </label><input type="number" [(ngModel)]="priceMin" /> <br/>
    <label>Prix max: </label><input type="number" [(ngModel)]="priceMax" /> <br/>
    <label>Nom: </label><input type="string" [(ngModel)]="nameFilter" /> <br/>

    <p i18n>
        Welcome {
            numProducts, plural,
            =0 {there is no products}
            =1 {there is one product}
            other { there is {{numProducts}} product }
        }
    </p>

    <app-product 
        [currentProduct]="myProduct" 
        [detailed]="false"
        [buyable]="true"
        [redirectable]="true"
        (onBuy)="onBuyProduct($event)"
        *ngFor="let myProduct of products | catalog : getFilters()"
    ></app-product>
</div>
