<div class="product" *ngIf="currentProduct != null">
    <h2>{{ currentProduct.name }}</h2>
    <img src={{currentProduct.img}}/>
    <p>Prix: {{currentProduct.price}}</p>
    <p>Plateforme: {{currentProduct.platform}}</p>

    <br/>
    <p *ngIf="detailed == true">Description: {{currentProduct.desc}}</p>

    
<!-- 
    ICI dans ce composant, il faut ajouter un bouton pour mettre le produit dans le panier . Attention, l'affichage de ce bouton doit être conditionnel sinon, on le verra dans le catalog, dans le panier, et pas uniquement sur la page de détail produit. 

    PS: inspirez-vous de l'affichage de la description


    Pour intercepter le clic sur un produit n'hésitez pas à demander si vous ne connaissez pas la syntaxe ( ce serait bien normal :=) )
 -->


</div>
