input.ng-untouched{
    border: 1px solid gray;
}

input.ng-touched.ng-dirty.ng-invalid{
    border: 2px solid red;
    background-color: red;
}

input.ng-touched.ng-dirty.ng-valid{
    border: 2px solid green;
    background-color: green;
}