
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label>Email: </label>
        <input type="email" formControlName="email" />
        <p *ngIf="form.get('email')?.dirty && form.get('email')?.touched && form.get('email')?.errors?.['invalidEmail']">
            L'email est invalide
        </p>
    </div>

    <div>
        <label>Password: </label>
        <input type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="form.invalid">Connexion</button>
</form>